*{
  font-family: verdana;
  margin: 0;
}

body{
  background: #eee;
}

.wrapper{
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

nav{
	background: #333;
}

nav ul {
	list-style-type: none;
	padding: 0;
}
nav a{
  text-decoration: none;
  text-align: center;
  color: #fff;
  display: block;
  padding: 10px;
}
nav a:Hover{
  background-color: #555;
}

/* social based styles */

a.tw {
  background: url(./resources/img/tw.png) no-repeat center;
  background-size: 80%;
}
a.fb {
  background: url(./resources/img/fb.png) no-repeat center;
  background-size: 80%;
}
.social a {
  text-indent: -10000px;
}
.social {
  max-width: 80px;
  margin: 0 auto;
}
nav ul.social {
  flex: 1 1 0;
  display: flex;
}
nav ul.social li{
  flex: 1 1 0;
}

/* flex styles */

nav ul.social {
  flex: 1 1 0;
}
.container{
  display: flex;
}
a.main-img {
  flex: 1 1 0;

}

@media screen and (min-width: 800px) {

  nav ul {
    display: flex;
  }

  nav li {
    flex: 1 1 0;
  }

  nav{
    display: flex;
    justify-content: space-between;
  }

  div img {
    height: auto;
    width: auto;
    /* max-width: 960px; */
    max-height: auto;
  }

  .social {
    margin: 0;
  }

  .container{
    display: flex;
    justify-content: center;

  }

  a.main-img {

  }
